@media (max-width: 991px) {
  .wrapper {
    overflow-x:hidden;
  }
}
/* table freeze */
.table-freeze {
    height: min-content;
    max-height: 90vh;
    border-collapse: separate;
    border-spacing: 0;
}
.table-freeze tbody td, .table-freeze thead th {
  position: sticky;
  max-width: 250px;
  width: 1%!important;
  padding: 2px 7px!important;
  white-space: nowrap;
  overflow: hidden;
}
.table-freeze tr:nth-child(odd):not('total') td {
  background-color: rgba(0,0,0,.05)!important;
}
.table-freeze>thead>tr>th {
    color: white;
    background: #3472f7;
    border-color: #171ba7;
}
.table-freeze thead th:first-child, .table-freeze tbody td:first-child {
    left: 0;
    z-index: 7;
}
.table-freeze thead th {
    top: 0;
    z-index: 8!important;
}
.table-freeze thead th:first-child{z-index: 9!important;}
.table-freeze tbody tr:nth-of-type(odd) td:first-child { background: #f2f2f2; }
.table-freeze tbody tr:nth-of-type(even) td:first-child, .table-freeze thead th { background: white; }


#tablerekap tr.a\.rev,#tablerekap tr.a\.rev td,#tablerekap tr.b\.cost,#tablerekap tr.b\.cost td{
	background:white!important;
}

#tablerekap .namaunit,#tablerekap .namaunit td{
	background:#f2f2f2!important;
}

tr.total td{
  background: #9368E9!important;
  color: white;
}
tr.totalpengeluaran td{
  background: #282eff!important;
  color: white;
}
tr.totalsisa td{
  background: #444444!important;
  color: white;
}
.card .table tbody td:last-child, .card .table thead th:last-child {
    display: table-cell;
}
tr.cost td{
    color: #ff2626!important;
}
tr.rev td{
    color: #022dfd!important;
}
tr.kredit td {
    background-color: #cc78f7!important;
    color: white;
}
tr.hp3 td {
    background-color: #c04ad6!important;
    color: white;
}
tr.deviasi td {
    background: #7030f1!important;
    color: white;
}
tr.total td {
    font-weight: bold;
}
table.tabletdhover tbody>tr>td:hover{
  background: #9368E9!important;
  color: white;
}
#tablerekap tbody td:first-child {
    width: 205px;
    /* display: block; */
}

.tableedit tbody td:nth-child(2) {
    width: 200px;
}
/* .tableedit tbody td:first-child {
    width: 250px;
    display: block;
} */

input[type="date"]::-webkit-clear-button {
    display: none;
}

input[type="date"]::-ms-clear {
    display: none;
}
body {
	font-size: 12px;
}
#tablerekap.tablerekapdata tbody td {
    padding: 0px 7px;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #828282;
}
.navbar-expand-lg .navbar-toggler {
  display: block;
}
.main-panel {
  width: 100%;
}
.navbar-expand-lg .navbar-collapse {
  display: none!important;
}
.sidebar {
    right: 0 !important;
    left: auto;
    position: absolute;
    -webkit-transform: translate3d(262px, 0, 0);
    -moz-transform: translate3d(262px, 0, 0);
    -o-transform: translate3d(262px, 0, 0);
    -ms-transform: translate3d(262px, 0, 0);
    transform: translate3d(262px, 0, 0) !important;
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.nav-open .sidebar {
    -webkit-transform: translate3d(10px, 0, 0);
    -moz-transform: translate3d(10px, 0, 0);
    -o-transform: translate3d(10px, 0, 0);
    -ms-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0) !important;
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.main-panel {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0) !important;
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.nav-open .main-panel {
    position: absolute;
    left: 0;
    -webkit-transform: translate3d(-250px, 0, 0);
    -moz-transform: translate3d(-250px, 0, 0);
    -o-transform: translate3d(-250px, 0, 0);
    -ms-transform: translate3d(-250px, 0, 0);
    transform: translate3d(-250px, 0, 0) !important;
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.close-layer.visible {
  display: none;
}
.wrapper {
    overflow-x: hidden;
}
.modal-backdrop.fade.show{
  display: none;
}
.datapentingtabel {
  font-weight: bold;
  border-left-color: black!important;
  border-right-color: black!important;
}
.tipehalaman {
    background: #9368e9;
    color: white;
    padding: 3px 10px;
}
